s-page {
  --s-color-primary: #00696f;
  --s-color-on-primary: #ffffff;
  --s-color-primary-container: #6ff6ff;
  --s-color-on-primary-container: #002022;
  --s-color-secondary: #4a6365;
  --s-color-on-secondary: #ffffff;
  --s-color-secondary-container: #4b8787;
  --s-color-on-secondary-container: #051f21;
  --s-color-tertiary: #4f5f7d;
  --s-color-on-tertiary: #ffffff;
  --s-color-tertiary-container: #d6e3ff;
  --s-color-on-tertiary-container: #091b36;
  --s-color-error: #ba1a1a;
  --s-color-on-error: #ffffff;
  --s-color-error-container: #ffdad6;
  --s-color-on-error-container: #410002;
  --s-color-background: #fafdfc;
  --s-color-on-background: #191c1c;
  --s-color-outline: #6f7979;
  --s-color-outline-variant: #bec8c9;
  --s-color-surface: #fafdfc;
  --s-color-on-surface: #191c1c;
  --s-color-surface-variant: #dae4e5;
  --s-color-on-surface-variant: #3f4849;
  --s-color-inverse-surface: #2d3131;
  --s-color-inverse-on-surface: #eff1f1;
  --s-color-inverse-primary: #4cd9e2;
  --s-color-surface-container: #eceeee;
  --s-color-surface-container-high: #e6e9e8;
  --s-color-surface-container-highest: #e0e3e3;
  --s-color-surface-container-low: #f2f4f4;
  --s-color-surface-container-lowest: #ffffff;
}

s-page {
  --s-color-dark-primary: #dcfe00;
  --s-color-dark-on-primary: #222122;
  --s-color-dark-primary-container: #0cf4ff;
  --s-color-dark-on-primary-container: #1ff1ff;
  --s-color-dark-secondary: #00f6ff;
  --s-color-dark-on-secondary: #1b3436;
  --s-color-dark-secondary-container: #c2e500;
  --s-color-dark-on-secondary-container: #d8d5c3;
  --s-color-dark-tertiary: #0053ff;
  --s-color-dark-on-tertiary: #0063ff;
  --s-color-dark-tertiary-container: #005bff;
  --s-color-dark-on-tertiary-container: #0051ff;
  --s-color-dark-error: #ffb4ab;
  --s-color-dark-on-error: #690005;
  --s-color-dark-error-container: #93000a;
  --s-color-dark-on-error-container: #ffb4ab;
  --s-color-dark-background: #18181c;
  --s-color-dark-on-background: #cdd5c6;
  --s-color-dark-outline: #cce403;
  --s-color-dark-outline-variant: #2a2c2b;
  --s-color-dark-surface: #00ffff;
  --s-color-dark-on-surface: #e9e9e9;
  --s-color-dark-surface-variant: #00e5ff;
  --s-color-dark-on-surface-variant: #838483;
  --s-color-dark-inverse-surface: #431c1c;
  --s-color-dark-inverse-on-surface: #ff9d0b;
  --s-color-dark-inverse-primary: #00f1ff;
  --s-color-dark-surface-container: #0000002e;
  --s-color-dark-surface-container-high: #000000;
  --s-color-dark-surface-container-highest: #2a2c2b;
  --s-color-dark-surface-container-low: #1d1f1e;
  --s-color-dark-surface-container-lowest: #00ffff;
}