/* -è¿™é‡Œæ˜¯ç‰¹å®šäºŽç»„ä»¶çš„æ ·å¼ï¼Œå…¨å±€æ ·å¼è¯·åœ¨style-component.cssä¸­å®šä¹‰- */
@import url(sober-theme.css);

html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

:not(:defined) {
    display: none;
}

#app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    height: 100%;
    background-image: url(./src/background.png);
    background-size: cover;
}

/* -============================ é¢„è®¾åˆ—è¡¨ ============================== */
#preset-list-drawer {
    width: 180px;
    height: 100%;
    background-color: var(--s-color-surface-container);
    border-color: var(--s-color-outline-variant);
}

#preset-list-drawer-headline {
    height: 110px;
    width: 70%;
    padding-left: 100px;
    margin-top: 10px;
    margin-right: 17px;
    transform: translateX(-50px);
    /* color: var(--s-color-on-primary); */
    /* border: 2px solid var(--s-color-outline); */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#preset-list-drawer-headline::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 30px;
    bottom: 5px;
    left: 0px;
    border-radius: 15px;
    box-shadow: inset 2px 2px 10px var(--s-color-surface-container-high);
    border-color: var(--s-color-outline-variant);
    border-width: 2px;
    background-color: var(--s-color-background);
    color: var(--s-color-on-surface);
}

#preset-list-drawer-headline p {
    font-size: 30px;
    transform: skew(0deg);
    position: relative;
    right: 10px;
}

#preset-container {
    width: 100%;
}

#preset-item {
    margin-top: 13px;
}

#preset-item-add,
#preset-item-edit {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    min-height: 45px;
    margin-right: 30px;
    color: var(--s-color-on-primary);
    background-color: var(--s-color-secondary-container);

    p {
        transform: translateX(20px);
    }
}


/* -============================ æ¨¡ç»„åˆ—è¡¨ ============================== */


#main-page {
    width: 80%;
    position: relative;
}

#mod-filter {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0px;
}

#mod-filter>* {
    margin-right: 5px;
}

#mod-container {
    display: grid;
    grid-column: span 4;
    grid-column-start: span 4;
    grid-column-end: auto;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 12px;
    align-items: center;
    justify-content: start;
    justify-items: center;
    min-height: 500px;
}

.mod-item[checked="true"] {
    perspective: 500px;
    background-color: var(--s-color-surface-container-low);
    border: 5px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, var(--s-color-surface-container-low), var(--s-color-surface-container-low)), linear-gradient(90deg, var(--s-color-primary), #e4d403);
    box-sizing: border-box;
    transform: rotate3d(1, 1, 0, 0deg) scale(0.95);
    border-radius: 0px 32px 0px 32px;
}

.mod-item[checked="false"] {
    perspective: 500px;
    background-color: var(--s-color-surface-container-low);
    border: 1px solid transparent;
    border: "";
    transform: rotate3d(1, 1, 0, 0deg);
    border-radius: 0px 30px 0px 30px;
}

.mod-item {
    width: 250px;
    height: 350px;
    margin-bottom: 0px;
    will-change: transform;
    transition: x, y 0.5s cubic-bezier(.36, -0.64, .34, 1.76);

    >div[slot="image"] {
        width: 250px;
        height: 200px;
    }
}

.mod-item img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.mod-item #mod-item-headline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 12px;
}

.mod-item #mod-item-subhead {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -2px;
}

.mod-item #mod-item-text {
    height: 100px;
    margin-top: -10px;
    border: 0;
}

.mod-item s-scroll-view {
    height: 100%;
    width: 110%;
}

.mod-item .placeholder {
    height: 30px;
    border: 0;
}

/* 
#mod-container[dragover="true"] {
    .mod-item:hover {
        transform: scale(0.5);
    }
} */



#mod-container[compact="true"] {
    display: grid;
    grid-column: span 4;
    grid-column-start: span 4;
    grid-column-end: auto;
    grid-template-columns: repeat(auto-fill, 250px);
    /* display: flex;
    flex-wrap: wrap; */
    gap: 12px;
    align-items: center;

    justify-content: start;
    justify-items: center;

    .mod-item {
        width: 250px;
        height: 150px;
    }

    .mod-item img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        position: absolute;
        filter: blur(5px);
        opacity: 0.2;
    }

    div[slot="image"] {
        position: absolute;
        z-index: -1;
    }
}

#apply-btn {
    position: relative;
    bottom: 89px;
    right: 39px;
    font-size: 29px;
    height: 55px;
    width: fit-content;
    align-items: center;
}

.preset-list {
    margin: 10px 10px;
}

.preset-item {
    margin: 5px 0;
}

.fit-image-width {
    height: 100%;
    width: fit-content;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

s-dialog h3 {
    margin: 0;
}


#control-center {
    transition: all 0.3s ease-in-out 0s;
    height: 100px;
    width: 70%;
    padding-left: 120px;
    margin: 10px 18px 10px 0px;
    transform: translateX(-50px);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 20px;
}

#control-center::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    bottom: 5px;
    right: 140px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: inset 2px 2px 10px var(--s-color-surface-container-high);
    border-color: var(--s-color-outline-variant);
    border-width: 2px;
    background-color: var(--s-color-background);
    color: var(--s-color-on-surface);
}

#bottom-buttons {
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 0px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    transform: skew(0deg) translateX(12px);
}


/* -============================ æ¨¡ç»„è¿‡æ»¤ ============================== */

#mod-filter-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: fit-content;
    padding: 5px 0;
}

#mod-filter-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 34px;
    margin: 0px 8px;
    transform: skew(-20deg);
    border-radius: 8px;
    background-color: var(--s-color-secondary-container);
    transition: all 0.5s ease 0s;
    z-index: 0;
}

#mod-info-controller s-button {
    margin-bottom: 7px;
    color: var(--s-color-on-primary);
    transform: translateX(70px);
    width: 300px;
    position: relative;

    s-icon {
        position: absolute;
        left: 30px;
        transform: scale(1.1);
    }

    p {
        position: absolute;
        left: 70px;
    }
}

/* å³ä¸‹åŠ æŒ‰é”®æµ®åŠ¨ *å·²åˆ é™¤ */
/* #mod-info-controller s-button:hover {
    transform: translateX(30px);
} */


/* -============================ æ¨¡ç»„ä¿¡æ¯ ============================== */

#info-page {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: var(--s-color-surface-container);
    border-color: var(--s-color-outline-variant);
}

#mod-info-headline {
    padding: 3px 3px 20px 3px;
    height: fit-content;
    margin: 10px;
    margin-bottom: 0;
    width: calc(100% - 20px);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    min-height: 100px;

    h2 {
        white-space: normal;
        word-break: keep-all;
        height: fit-content;
        margin: 30px 0px;
    }

    p {
        margin-top: -12px;
        font-size: small;
        color: gray;
        height: fit-content;
        width: fit-content;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

}

#mod-info-container {
    height: 100%;

    #img-container {
        padding: 3px 3px 20px 3px;
        height: 224px;
        margin: 10px;
        width: calc(100% - 20px);
        border-radius: 20px;
        overflow: hidden;
        box-sizing: border-box;
        padding-bottom: calc(80% + 30px);
    }

    #mod-info-image {
        width: 100%;
        border-radius: 18px;
        background-image: none;
        padding-bottom: 80%;
    }
}





/* -dialog */

/* settings-dialog è¿›è¡Œå·¦å³åˆ†æ ï¼Œå·¦ä¾§ä¸ºè®¾ç½®èœå•ï¼Œå³ä¾§ä¸ºè®¾ç½®å†…å®¹ */
#settings-dialog-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#settings-menu,
#edit-mod-info-dialog-left {
    width: 28%;
    max-width: 180px;
    margin: 0px 10px;
    height: 100%;
}

#settings-content,
#edit-mod-info-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex: 1;
    height: 100%;
    padding: 10px 20px;
    margin: 0px 10px 0px 0px;
    overflow: auto;
}

#settings-menu .settings-menu-radio {
    display: none;
}

#settings-menu .settings-menu-radio:checked+label {
    background-color: var(--s-color-secondary-container);
    color: var(--s-color-on-primary);
}

#settings-menu .settings-menu-radio+label {
    display: block;
    padding: 16px 20px;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: -2px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    z-index: 1;
}

#settings-menu .settings-menu-radio+label::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 9px;
    background-color: var(--s-color-outline-variant);
    transition: width 0.3s;
    opacity: 0.8;
    position: relative;
    top: 17px;
    left: -14%;
    padding: 0 14%;
    z-index: 0;
}

#language-picker,
#theme-picker {
    >label {
        margin: 0 2px;
    }
}

/* -help-dialog */
#help-dialog-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#help-menu {
    width: 28%;
    max-width: 180px;
    margin: 0px 10px;
    height: 100%;
}

#help-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex: 1;
    height: 100%;
    padding: 10px 20px;
    margin: 0px 10px 0px 0px;
    overflow: auto;
}

#help-menu .help-menu-radio {
    display: none;
}

#help-menu .help-menu-radio:checked+label {
    background-color: var(--s-color-secondary-container);
    color: var(--s-color-on-primary);
}

#help-menu .help-menu-radio+label {
    display: block;
    padding: 16px 20px;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: -2px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    z-index: 1;
}

#help-menu .help-menu-radio+label::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 9px;
    background-color: var(--s-color-outline-variant);
    transition: width 0.3s;
    opacity: 0.8;
    position: relative;
    top: 17px;
    left: -14%;
    padding: 0 14%;
    z-index: 0;
}

#switch-config-list {
    max-height: 600px;
}

.switch-config-list-item {
    display: block;
    padding: 16px 20px;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: -2px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    z-index: 1;
}